@model Mixtr.Models.Post

<div id="new-post-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @using (Html.BeginForm("AddPost", "Home", FormMethod.Post, new {@id = "form-new-post" }))
                {
                    <div class="form-group row">
                        @Html.LabelFor(m => m.Title, new { @class = "col-sm-2 col-form-label" })
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "col-10 form-text text-danger" })
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(m => m.Playlist.Url, new { @class = "col-sm-2 col-form-label" })
                        @Html.TextBoxFor(m => m.Playlist.Url, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Playlist.Url, "", new { @class = "col-10 form-text text-danger" })
                    </div>

                    <div class="form-check row">
                        @Html.CheckBoxFor(m => m.Playlist.IsSingleTrack)
                        @Html.Label("IsSingleTrack", "Is single video?")
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="$('#form-new-post').submit();">Create</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>