@model Mixtr.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4 class="text-light">Use another service to log in.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div class="text-light">
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    <button type="submit" class="btn btn-light" id="Google" name="provider" value="Google" title="Log in using your google account">
                        <img style="width:20px;margin-bottom:3px;margin-right:5px" alt="Google sign-in" src="~/Content/icons/google.svg" />
                        Log in with google
                    </button>

                    @*@foreach (AuthenticationDescription p in loginProviders)
                        {
                            <button type="submit" class="btn btn-light" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                        }*@
                </p>
            </div>
        }
    }
}
